@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 101px;
  padding: 20px 0;

  &__section {
    font-size: $small-size;
    display: flex;

    &__item {
      position: relative;
      margin: 0 16px;
      text-decoration: none;
      color: #1D1F22;

      &.selected {
        color: #5ECE7B;
        &:after {
          content: "";
          background-color: #5ECE7B;
          position: absolute;
          height: 2px;
          left: 0;
          top: 40px;
          width: 100%;
        }
      }

      &:hover {
        color: $green-color;
        cursor: pointer;
        transition: color .2s ease-in-out;
      }
    }
  }

  &__actions {
    display: flex;

    &__converter {
      margin: 0 25px;
      position: relative;

      &.active::before {
        top: 10px;
        transform: rotate(-225deg);
      }

      &::before {
        content: '';
        position: absolute;
        top: 6px;
        right: 0;
        z-index: 10000;
        width: 4px;
        height: 4px;
        border: 2px solid #5b5b5b;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: .4s;
        pointer-events: none;
      }
      &.active .converter__options {
        display: block;
      }
    }

    .converter {
      &__textBox {
        border: none;
        outline: none;
        width: 30px;
        font-family: $main-font;
        font-size: $main-size;
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }

      &__options {
        z-index: 10000;
        border: 1px solid rgba(204, 204, 204, 0.3);
        display: none;
        position: absolute;
        width: 100px;
        top: 23px;
      }

      &__item {
        padding: 15px 20px;
        &:hover {
          background-color: rgba(204, 204, 204, 0.3);
          cursor: pointer;
        }
      }
    }
  }
}

.arrow-icon {
  margin: 0 2px;
}
