@import "../../../variables";

.cart__item {
  &__info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider {
    width: 250px;
    position: relative;
  }
  &__slide {
    max-width: 250px;
    transition: all 0.5s;
    position: absolute;
  }
  &__img {
    max-width: 250px;
    height: 250px;
    object-fit: cover;
  }
  &__arrow {
    position: absolute;
    bottom: 40px;

    &_left {
      right: 120px;
    }
    &_right {
      right: 90px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__column {
    display: flex;
  }
  &__amount {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
  }
}

.item {
  &__operation {
    &:hover {
      cursor: pointer;
    }
  }
  &__quantity {
    font-weight: $weight-semi-bold;
    font-size: 24px;
  }
}
